
<div>
	
	<h1> Suggestion: {{post.title}} </h1>
		
	<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
		<p> {{comment.body}}
				<span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span> 
				Upvotes: {{comment.upvotes}}
		</p>
	</div>

	<form ng-submit="addComment()" style="margin-top: 50px">
		<h3> Submit Your Comment </h3>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Great comments here" ng-model="body"></input>
		</div>
		<button type="submit" class="btn btn-primary">Suggest</button>
	</form>
	<a href='#/'>BACK</a>

</div>

